.board {
  margin: 20% auto;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 0 30px #18204b;
  z-index: 1;
  position: relative;
  background: linear-gradient(45deg, #6d98c0 25%, transparent 25%) 0 0,
  linear-gradient(45deg, transparent 75%, #6d98c0 75%) 0 0,
  linear-gradient(45deg, transparent 75%, #6d98c0 75%) -50px 50px,
  linear-gradient(45deg, #6d98c0 25%, transparent 25%) 50px -50px, #dae9f2;
  background-size: 100px 100px;
}

.columns {
  letter-spacing: 1.38vw;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  padding-left: 25px;
  margin: 0;
}

.columns-top {
  top: -25px;
}

.columns-bottom {
  bottom: -25px;
}

.lines {
  width: 10px;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 3px;
  z-index: 2;
}

.lines-left {
  left: -20px;
}

.lines-right {
  right: -20px;
}

.figure {
  font-size: 50px;
  padding-left: 3px;
  position: absolute;
}

.rook,
.rook-white {
  top: 0;
  left: 250px;
}

.rook:before,
.rook-white:before {
  content: '\265c';
  display: inline-block;
  margin-right: -295px;
}

.king,
.king-white {
  top: 0;
  left: 300px;
}

.pawn,
.pawn-white {
  top: 50px;
  left: 0;
}

.pawn:before,
.pawn:after,
.pawn-white:after {
  content: '\265f';
  display: inline-block;
  margin-right: 5px;
}

.pawn:after,
.pawn-white:after {
  margin-left: 5px;
}

.pawn2,
.pawn2-white {
  top: 50px;
  right: 3px;
}

.pawn2:before,
.pawn2:after {
  content: '\265f';
  display: inline-block;
}

.pawn2:before,
.pawn2-white:before {
  margin-right: 5px;
}

.pawn2:after,
.pawn2-white:after {
  padding-left: 5px;
}

.bishop {
  top: 100px;
  left: 150px;
}

.knight {
  top: 100px;
  right: 100px;
}

.queen {
  top: 200px;
  left: 0;
}

.queen:after {
  content: '\265b';
  margin-left: 305px;
}

.bishop-white {
  top: 200px;
  left: 100px;
}

.knight-white {
  top: 250px;
  left: 100px;
}

.pawn-white {
  top: 300px;
}

.pawn-white:after {
  content: '\2659';
}

.pawn2-white {
  top: 300px;
}

.pawn2-white:before,
.pawn2-white:after {
  content: '\2659';
  display: inline-block;
}

.king-white,
.rook-white {
  top: 350px;
}

.rook-white:before {
  content: '\2656';
  margin-right: -145px;
}
